AddType text/cache-manifest .mf

AddDefaultCharset UTF-8

# URL Rewrite fu
Options +FollowSymLinks
Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /InfoScreen2/
RewriteRule ^$ controllers/pagehandler.php?page=info [QSA,NC,L]
RewriteRule ^(\d*\.?\d*)/(\d*\.?\d*)/$ controllers/pagehandler.php?page=info&x=$2&y=$1 [QSA,NC,L]
</IfModule>
